:root {
    --animation-curve-nav: cubic-bezier(1,0,0,1);
}

/* video#mainPage1 {
    height: 100%;
    z-index: -1;
    position: absolute;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.overlay.active {
    display: block;
}

/* Login Pop Up */
.loginPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid var(--hBorderColor);
    z-index: 999;
    text-align: center;
    /* padding: 20px; */
    box-sizing: border-box;
    box-shadow: 0 0 25px var(--hBorderColor);
    overflow: hidden;
    font-family: var(--poppins);

    .formContent {
        position: absolute;
        top: 0px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: var(--32px);
            color: var(--colorWhite);
            text-align: center;
        }

        .inputBox {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 25px 0;

            input {
                padding-right: 23px;
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid var(--colorWhite);
                font-size: var(--16px);
                font-weight: 500;
                color: var(--colorWhite);
                transition: .5s;

                &:focus, 
                &:valid {
                    border-bottom-color: var(--hBorderColor);
                }

                &:focus~label, 
                &:valid~label {
                    top: -5px;
                    color: var(--hText);
                }

                &:focus ~ i, 
                &:valid ~ i {
                    color: var(--hText);
                }
            }

            label {
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                font-size: var(--16px);
                color: var(--colorWhite);
                pointer-events: none;
                transition: .5s;
            }

            i {
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                font-size: var(--18px);
                color: var(--colorWhite);
                transition: .5s;
            }
        }

        .submitButton {
            position: relative;
            width: 100%;
            height: 45px;
            background: transparent;
            border: 2px solid var(--hBorderColor);
            outline: none;
            border-radius: 40px;
            cursor: pointer;
            font-size: var(--16px);
            color: var(--colorWhite);
            font-weight: 600;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: -100%;
                left: 0;
                width: 100%;
                height: 300%;
                background: linear-gradient(#081b29, var(--hBorderColor), #081b29, var(--hBorderColor));
                z-index: -1;
                transition: .5s;
            }

            &:hover::before {
                top: 0;
            }
        }

        .logRegLink {
            font-size: 0.906rem; /* 14.5px */
            color: var(--colorWhite);
            text-align: center;
            margin: 20px 0 10px;

            p {
                a {
                    color: var(--hBorderColor);
                    text-decoration: none;
                    font-weight: 600;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }

        &.login {
            left: 0;
            padding: 0 40px 0 60px;
    
            .animation {
                transform: translateX(0);
                opacity: 1;
                filter: blur(0);
                transition: .7s ease;
                transition-delay: calc(2s + (.1s * var(--j)));
            }
        }

        &.register {
            right: 0;
            padding: 0 60px 0 40px;
            pointer-events: none;
    
            .animation {
                transform: translateX(130%);
                opacity: 0;
                filter: blur(10px);
                transition: .7s ease;
                transition-delay: calc(.1s * var(--j));
            }
        }
    }

    .infoText {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 0;
        width: 50%;
        height: 100%;

        h2 {
            font-size: var(--36px);
            line-height: 1.3;
            text-transform: uppercase;
        }

        p {
            font-size: var(--16px);
            color: var(--colorWhite);
        }

        &.login {
            right: 0;
            text-align: right;
            padding: 0 40px 60px 150px;
            pointer-events: none;
    
            .animation {
                transform: translateX(0);
                opacity: 1;
                filter: blur(0);
                transition: .7s ease;
                transition-delay: calc(2s + (.1s * var(--j)));
            }
        }

        &.register {
            left: 0;
            text-align: left;
            padding: 0 150px 60px 40px;
            pointer-events: none;
    
            .animation {
                transform: translateX(-130%);
                opacity: 0;
                filter: blur(10px);
                transition: .7s ease;
                transition-delay: calc(.1s * var(--j));
            }
        }
    }

    .backgroudAnimate {
        position: absolute;
        top: 0;
        right: 0;
        width: 1500px;
        height: 1800px;
        background: linear-gradient(45deg, #081b29, var(--hBorderColor));
        border-bottom: 3px solid var(--hBorderColor);
        transform:  translate(5%, -50%) rotate(10deg) skewY(50deg);
        transform-origin: bottom right;
        z-index: -1;
        transition: 1.5s ease;
        transition-delay: 1.6s;
    }
    /* .backgroudAnimate2 {
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        background: transparent;
        border-top: 3px solid var(--hBorderColor);
        transform: rotate(0) skewY(0);
        transform-origin: bottom right;
        z-index: -1;
        transition: 1.5s ease;
        transition-delay: .5s;
    } */

    .closeButton {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        background: var(--colorBlack);
        color: var(--colorWhite);
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        z-index: 1;
    }

    &.change {
        .formContent{
            &.login {
                .animation {
                    transform: translateX(-130%);
                    opacity: 0;
                    filter: blur(10px);
                    transition-delay: calc(.1s * var(--i));
                }
            }

            &.register {
                pointer-events: auto;
        
                .animation {
                    transform: translateX(0);
                    opacity: 1;
                    filter: blur(0);
                    transition-delay: calc(1.7s + (.1s * var(--i)));
                }
            }
        }
    
        .infoText{
            &.login{
                .animation {
                    transform: translateX(130%);
                    opacity: 0;
                    filter: blur(10px);
                    transition-delay: calc(.1s * var(--i));
                }
            }

            &.register {
                pointer-events: auto;
                .animation {
                    transform: translateX(0);
                    opacity: 1;
                    filter: blur(0);
                    transition-delay: calc(1.7s + (.1s * var(--i)));
                }
            }
        }
    
        .backgroudAnimate {
            transform: translate(45%, -50%) rotate(-10deg) skewY(-50deg);
            transform-origin: bottom left;
            transition-delay: .5s;
            z-index: -1;
        }
        /* .backgroudAnimate2 {
            transform: rotate(-11deg) skewY(-41deg);
            transition-delay: 1.2s;
            z-index: -1;
        } */
    }

    &.active {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Background */
section#section1 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    background-image: var(--mainPage1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Nav Bar */
header {
    position: fixed;
    display: flex;
    padding: 20px 70px;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--shadowColor);
    z-index: 99;
    user-select: none;
    font-family: "CurseOfTheZombie";

    p {
        font-size: var(--24px);
        font-weight: 500;
        color: var(--colorWhite);
        margin-right: 0;
    }

    #toggleNavMenu {
        display: none;
    }
}

nav {
    display: flex;
    align-items: center;

    li {
        position: relative;
        display: inline-block;
        margin-right: 30px;
        font-size: var(--20px);
        font-weight: 500;
    }

    a {
        position: relative;
        text-decoration: none;
        color: var(--colorWhite) ;

        &.navItems::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 3px;
            background: var(--colorWhite);
            border-radius: 5px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .5s;
        }
        
        &:hover::after {
            transform-origin: left;
            transform: scaleX(100%);
        }
    }

    button {
        margin-left: auto;
        width: 130px;
        height: 50px;
        background: transparent;
        border: 2px solid var(--colorWhite);
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 500;
        font-size: var(--20px);
        color: var(--colorWhite);
        transition: .5s;
        font-family: "CurseOfTheZombie";
        
        &:hover, 
        &:active {
            background-color: var(--colorWhite);
            color: var(--colorBlack);
        }
    }
}

/* Dropdown */
.dropdown {
    user-select: none;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--colorWhite);

    i{
        display: flex;
        align-items: center;
        width: 45px;
        height: 45px;
        font-size: var(--32px);
        user-select: none;
        cursor: pointer;
    }

    .dropdown-content {
        position: absolute;
        padding: 0 10px;
        width: 320px;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        background-color: var(--shadowColor);
        top: 100%;
        right: 0%;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;

        &.active{
            max-height: 200px;
        }

        .user-info{
            user-select: text;
            display: flex;
            flex-direction: column;
            align-items: center;

            .name{
                font-size: 1.2em;
                font-weight: 500;
            }

            .email{
                font-size: .8em;
                font-weight: 300;
                color: var(--dark-grey);
            }
        }

        hr{
            border: 0;
            height: 1px;
            width: 100%;
            background-color: var(--colorWhite);
            margin: 10px 0 10px;
        }

        .user-content {
            .content-link{
                padding: 5px;
                text-decoration: none;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--light);
                margin: 12px 0;

                i{
                    width: 40px;
                    height: 30px;
                    padding: 4px;
                    margin-right: 15px;
                }

                span{
                    font-size: var(--20px);
                    transition: transform .5s ease-in-out;
                    padding-right: 10px;
                    font-family: var(--poppins);
                }

                p{
                    width: 100%;
                    font-size: var(--20px);
                    font-family: var(--CurseOfTheZombie);
                }

                &:hover {
                    span{
                        transform: translateX(10px);
                    }
    
                    p{
                        font-weight: 600;
                    }
                }
            }
        }

        .content-logout {
            .content-link{
                color: var(--colorRed);

                span{
                    color: var(--colorRed);
                    font-family: var(--poppins);
                }

                p{
                    color: var(--colorRed);
                }
            }
        }
    }
}

@media ( max-width: 432px ) {
    .loginPopUp {
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        
        .formContent {
            width: 100%;
            height: 50%;
            transform: translateY(90%);
            &.login,
            &.register {
                padding: 0 50px 0 50px;
                text-align: center;
            }
            
        }
        .infoText {
            width: 100%;
            height: 50%;
            transform: translateY(7%);
            &.login,
            &.register {
                padding: 0 80px 60px 80px;
                text-align: center;
            }
        }

        .backgroudAnimate {
            transform:  translate(5%, -75%) rotate(5deg) skewY(15deg);
        }

        &.change {
            .backgroudAnimate {
                transform: translate(5%, -67%) rotate(3deg) skewY(-15deg);
            }
        }
    }

    header {
        padding: 20px 50px;
        flex-direction: column;
        align-items: flex-end;
    }

    nav {
        ul {
            max-height: 0px;
            transition: max-height .6s;
            overflow: hidden;
            
            &.active {
                max-height: 200px;
            }

            li {
                display:  flex;
                flex-direction: column;
                align-items: flex-end;

                a {
                    padding: 5px 5px;

                    &:nth-child(1) {
                        padding-top: 10px;
                    }
                }
            }

            button {
                color: var(--colorRed);
                border: none;
            }

            .dropdown {
                display: none;
            }
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p{
            font-size: var(--20px);
            display: flex;

        }

        label {
            position: absolute;
            width: 1.5em;
            height: .2em;
            background-color: var(--colorWhite);
            cursor: pointer;
            transform: translate(-100%, -50%);
            z-index: 99;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 1.5em;
                height: .2em;
                background-color: var(--colorWhite);
                display: block;
                transition: all .6s var(--animation-curve-nav);
            }

            &::before {
                top: -250%;
                left: 0%;
                transform-origin: left top;
                transform: rotateZ(0deg);
            }
            
            &::after {
                top: 250%;
                left: 0%;
                transform-origin: left bottom;
                transform: rotateZ(0deg);
            }
        }

        input {
            /* display: none; */

            &#toggleNavMenu{
                &:checked ~ label::before {
                    transform: rotateZ(45deg);
                }

                &:checked ~ label::after {
                    transform: rotateZ(-45deg);
                }

                &:checked ~ label {
                    background-color: rgba(0, 0, 0, 0);
                }
                & ~ label {
                    transition: all .6s var(--animation-curve-nav);
                }
            }
        }
    }
}

@media ( max-width: 896px ) {
    
}

@media ( max-width: 1920px ) {
    
}